#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.add-new-object {
  border-radius: 12px;
}

.todo-wrapper {
  height: 80vh;
  width: 60vh;

}
