:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #DFEFF2;

}

.list-div::-webkit-scrollbar{
  display: none;
}

h1 {
  font-size: 48px;
  margin-top: 0;
}


.todo-form input {
  height: 30px;
  width: 200px;
  font-size: 18px;
  margin-bottom: 12px;
}

.todo-form {
  position: absolute;
  left: 50%;
  margin-top: 8vh;
  margin-bottom: 25px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-form input {
  border-radius: 3px;
  border: none;
  text-align: left;
  
}

.list-div{
  max-height: 450px;
  overflow-y: scroll;
  background-color: #5EC8F2;
  border-radius: 12px;
  margin-bottom: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-div p {
  font-size: 18px;
}


.list {
  list-style-type: none;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0;
}


.input input {
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.todo-list-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  grid-template-rows: auto auto;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 4px;
  align-items: center;
  padding: 8px;
  text-align: start;
  margin: 4px;
  min-width: 50vh;
  max-width: 50vh;
  min-height: 3vh;
}

.delete-btn {
  align-items: center;
  width: max-content;
}

li {
  display: grid;
  grid-row: 1 / span 2;
  margin-left: 20px;
  overflow: hidden;
  white-space: normal;
  padding: 0;
  font-size: 18px;
}